Repository schklom/Mirror-workflows: changes, and which GitLab CI jobs are due for each by the changed paths.
All: phpunit, eslint, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

.gitlab-ci.yml:

stages:
  - lint
  - build

.build-master:
  image:
    name: ${CI_DOCKER_IMAGE}
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - '**/*.php'
        - '**/*.js'
        - '.docker/**/*'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
  before_script:
      - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
      - docker login -u ${DOCKER_HUB_USER}  -p ${DOCKER_HUB_TOKEN}

      - docker run --privileged --rm registry.fakecake.org/docker.io/tonistiigi/binfmt --install all
      - docker buildx create --name mp-builder --driver docker-container --bootstrap --use

  script:
      - BUILD_TIMESTAMP=$(date -d $(echo ${CI_COMMIT_TIMESTAMP} | cut -b 1-10) +%y.%m)

      - docker buildx build
          --push
          --platform linux/amd64,linux/arm64,linux/arm/v7
          --tag ${CI_REGISTRY}/cthulhoo/${CI_JOB_NAME}:${BUILD_TIMESTAMP}-${CI_COMMIT_SHORT_SHA}
          --tag ${CI_REGISTRY}/cthulhoo/${CI_JOB_NAME}:latest
          --tag cthulhoo/${CI_JOB_NAME}:${BUILD_TIMESTAMP}-${CI_COMMIT_SHORT_SHA}
          --tag cthulhoo/${CI_JOB_NAME}:latest
          --build-context app-src=.
          --cache-from type=registry,ref=${CI_REGISTRY}/cthulhoo/${CI_JOB_NAME}:latest
          --cache-to type=inline
          ${BUILD_CONTEXT}

# .build-branch:
#   image:
#     name: ${CI_KANIKO_IMAGE}
#     entrypoint: [""] # kaniko doesn't have /bin/sh
#   stage: build
#   rules:
#     - if: $CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
#   script:
#       - /kaniko/executor
#         --context "${BUILD_CONTEXT}"
#         --dockerfile "${DOCKER_DIR}/Dockerfile"
#         --destination "${CI_REGISTRY}/cthulhoo/${NAME}:${CI_COMMIT_BRANCH}-latest"
#         --destination "${CI_REGISTRY}/cthulhoo/${NAME}:${CI_COMMIT_BRANCH}-${CI_COMMIT_SHORT_SHA}"
#         --no-push

phpunit:
  image:
    name: ${CI_DOCKER_IMAGE}
  stage: lint
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - '**/*.php'
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  script:
    - php81 ./vendor/bin/phpunit

eslint:
  image:
    name: ${CI_DOCKER_IMAGE}
  stage: lint
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - '**/*.js'
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  script:
    - npm install
    - npx eslint js plugins

phpstan:
  image:
    name: ${CI_DOCKER_IMAGE}
  stage: lint
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - '**/*.php'
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  script:
    - php81 -d memory_limit=-1 ./vendor/bin/phpstan --memory-limit=2G

ttrss-web-nginx:
  extends: .build-master
  variables:
    BUILD_CONTEXT: ${CI_PROJECT_DIR}/.docker/web-nginx

ttrss-fpm-pgsql-static:
   extends: .build-master
   variables:
     BUILD_CONTEXT: ${CI_PROJECT_DIR}/.docker/app

phpdoc:
  image:
    name: ${CI_DOCKER_IMAGE}
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - '**/*.php'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
  script:
    - php81 /phpDocumentor.phar -d classes -d include -t phpdoc --visibility=public
    - mkdir -p ~/.ssh &&
        cp ${PHPDOC_DEPLOY_SSH_KEY} ~/.ssh/id_ed25519 &&
        chmod 0600 ~/.ssh/id_ed25519
    - rsync -av -e 'ssh -o StrictHostKeyChecking=no' phpdoc/ ${PHPDOC_DEPLOY_HOST}:phpdoc/

add some manual job triggers
  .gitlab-ci.yml
Due: none

phpstan: depend on phpunit
  .gitlab-ci.yml
Due: none

more pipeline tweaks
  .gitlab-ci.yml
Due: none

add branch tasks
  .gitlab-ci.yml
Due: none

Make edit feed dialog's 'remove icon' button a regular button.
  js/CommonDialogs.js
Due: eslint, ttrss-web-nginx, ttrss-fpm-pgsql-static

use common CI template
  .gitlab-ci.yml
Due: none

fix eslint task extending .phpunit
  .gitlab-ci.yml
Due: none

dockerfile cleanup
  .docker/app/Dockerfile
Due: ttrss-web-nginx, ttrss-fpm-pgsql-static

remove .gitea workflows
  .gitea/workflows/build.yml
  .gitea/workflows/lint.yaml
Due: none

docker run fix
  Dockerfile
Due: none

emere params fix
  src/fetcher/nightmare.js
Due: eslint, ttrss-web-nginx, ttrss-fpm-pgsql-static

add branch targets
  .gitlab-ci.yml
Due: none

Add last_sync_with_original_repo_commit_id
  last_sync_with_original_repo_commit_id
Due: none

change entrypoint and cmd
  Dockerfile
Due: none

add simple autocompleter for tags
  classes/article.php
  js/Article.js
Due: phpunit, eslint, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

make phpstan happy
  classes/article.php
Due: phpunit, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

filters: allow matching on tags if there are no tags
  classes/rssutils.php
Due: phpunit, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

phpstan task: analyze only modified files
  utils/phpstan-watcher.sh
Due: none

CI: phpstan: check for PHPDOC_DEPLOY_SSH_KEY
  .gitlab-ci.yml
Due: none

Update config.php: $ttrss_version in private function _get_version() replaced by $this->version
  classes/config.php
Due: phpunit, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

Update Gadgetbridge-osm build+release master.yml
  .github/workflows/Gadgetbridge-osm build+release master.yml
Due: none

Add restfunction to update password
  cmd/fmdserver.go
  user/userhandler.go
Due: none

add welcome prompt
  web/index.html
  web/logic.js
  web/style.css
Due: eslint, ttrss-web-nginx, ttrss-fpm-pgsql-static

add window.requestIdleCallback polyfill for safari
  js/common.js
Due: eslint, ttrss-web-nginx, ttrss-fpm-pgsql-static

docker: point xaccel plugin url to gitlab
  .docker/app/Dockerfile
Due: ttrss-web-nginx, ttrss-fpm-pgsql-static

bump dojo to 1.16.5
  lib/dijit/bower.json
  lib/dijit/form/_FormSelectWidget.js
  lib/dijit/package.json
  lib/dojo-src/rebuild-dojo.sh
  lib/dojo/_base/kernel.js
  lib/dojo/_base/lang.js
  lib/dojo/dojo.js
  lib/dojo/package.json
  lib/dojo/tt-rss-layer.js
Due: eslint, ttrss-web-nginx, ttrss-fpm-pgsql-static

Revert "docker: point xaccel plugin url to gitlab"
  .docker/app/Dockerfile
Due: ttrss-web-nginx, ttrss-fpm-pgsql-static

some tracer class fixes / unhardcode jaeger IP
  backend.php
  classes/config.php
  classes/feeds.php
  classes/pref/feeds.php
  classes/tracer.php
Due: phpunit, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

make phpstan happy
  backend.php
  classes/tracer.php
Due: phpunit, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

add icatchall
  classes/icatchall.php
Due: phpunit, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

Tracer: rework options to tags
  classes/diskcache.php
  classes/tracer.php
Due: phpunit, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

more tracing
  classes/article.php
  classes/counters.php
  classes/diskcache.php
  classes/feeds.php
  classes/pluginhost.php
  classes/pref/feeds.php
  classes/rpc.php
  classes/sanitizer.php
Due: phpunit, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

even more tracing
  classes/digest.php
  classes/feeds.php
  classes/pluginhost.php
  classes/rssutils.php
Due: phpunit, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

a bit more tracing
  classes/article.php
  classes/pluginhost.php
Due: phpunit, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc

add php81-sockets
  .docker/app/Dockerfile
Due: ttrss-web-nginx, ttrss-fpm-pgsql-static

add tracing to UrlHelper
  classes/urlhelper.php
Due: phpunit, phpstan, ttrss-web-nginx, ttrss-fpm-pgsql-static, phpdoc
